[Desktop Entry]
Type=Application
Version=1.0
Name=Sync pacman repository
GenericName=Sync pacman repository
Comment=Sync pacman repository
Exec=sudo pacman -Syy
Terminal=false
StartupNotify=false
Type=Application
Categories=Qt;System;
