#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon=/usr/share/icons/Arc/categories/128/applications-internet.png
Icon[en_US]=/usr/share/icons/Arc/categories/128/applications-internet.png
Exec=sudo xterm -e /ninstaller/ninstaller
Name[en_US]=Namib Installer
Comment[en_US]=Installer for Namib
Name=Namib Installer
Comment=Installer for Namib